extends base

block content
   main.main 
     .card-container

      each tour in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=tour.name)
            h3.heading-tertirary
              span= tour.name

          .card__details
            h4.card__sub-heading #{tour.difficulty} #{tour.duration}-투어기간
            p.card__text= tour.summary
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= tour.startDate1.toLocaleString('en-us',{month:'long',year:'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              span #{tour.location.split(',').length} 방문
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span #{tour.maxGroupSize} 사람

          .card__footer
            p
              span.card__footer-value= tour.price
              span.card__footer-text 사람당
            p.card__ratings
              span.card__footer-value= tour.ratingsAverage
              span.card__footer-text 별점 (#{tour.ratingsQuantity})
            a.btn.btn--green.btn--small(href=`/tours/${tour.name.replace(/ /g,'-')}`) 세부사항